body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #d0d0d4;
  display: grid;
  grid-template-rows: 400px auto;
  row-gap: 5px;
}

h2 {
  margin-top: 5px;
}

#top {
  grid-row: 1;
  overflow-y: scroll;
  padding: 10px;
}

#top ol li {
  padding: 0.2rem 0;
}

#bottom {
  background-color: #e2e2e2;
  grid-row: 2;
  overflow-y: scroll;
  padding: 10px;
}

#log {
  padding-bottom: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.88rem;
}

.log-item{
  display: block;
}

.log-type{
  display: inline-block;
  font-weight: bold;
  width: 160px;
  color: #063b74;
}

.log-type::after {
  content: ':';
  color: #d30700;
}

.log-content {
  display: inline-block;
}

.comment {
  color: #848484;
}

textarea.input {
  width: calc(100vw - 100px);
  height: 3rem;
}

.primary {
  color: #0063be;
}
